.App {
  text-align: center;
  background-color: rgb(28, 29, 29);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

.react-geocoder {
  position: relative;
  width: 500px;
}
.texter{
  background-color: red;
  border: green;
}
.react-geocoder input {
  width: 100%;
  background-color: black;
}


.react-geocoder-results {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: red;
  border: 1px solid black;
  width: 100%;
}

.react-geocoder-item {
  border-bottom: 1px solid red;
}

.marker {
  transform: translate(-50%, -100%);
  stroke:  rgb(210, 139, 248);
  cursor: pointer;
}


.entry-form label,
.entry-form input,
.entry-form textarea,
.entry-form button {
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}

.entry-form input {
  height: 30px;
  padding: 0 5px;
  border-radius: 4px;
  border: 1px solid #cccccc;
}

.entry-form textarea {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #cccccc;
}

.entry-form button {
  border-radius: 4px;
  background-color: rgb(69, 223, 171);
  color: #fff;
  border: none;
  padding: 12px 0;
  cursor: pointer;
  font-weight: bold;
}

.errormsg {
  color: rgb(243, 79, 14);
}

.placeImg {
  width: 100%;
}

.credit {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 55px;
  border-radius: 5px;
  background: #0000008f;
  z-index: 9999;
  color: white;
}



.credit p {
  margin: 5px;
}

.instruction {
  position: fixed;
  top: 50px;
  left: 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #c8c9c9;
  color: #494949;
  background: #fff;
  z-index: 9999;
  display: flex;
}
.instruction i {
  margin-top: 20px;
}

/* rance input style */

input[type="range"] {
  -webkit-appearance: none;
  margin: 8px 0;
  width: 100%;
  border: none !important;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: rgb(69, 223, 171);
  border-radius: 4px;
  border: 0.2px solid #010101;
}
input[type="range"]::-webkit-slider-thumb {
  border: 1px solid #302c2c;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border-radius: 3px;
  background: rgb(69, 223, 171);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgb(69, 223, 171);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: rgb(69, 223, 171);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type="range"]::-ms-fill-upper {
  background: rgb(69, 223, 171);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type="range"]::-ms-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: rgb(69, 223, 171);
}
input[type="range"]:focus::-ms-fill-upper {
  background: rgb(69, 223, 171);
}

.geosearch{
  margin: 20px;
}